@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));
@plugin "@tailwindcss/typography";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-lexend);
  --font-mono: var(--font-geist-mono);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-danger: var(--danger);
  --color-danger-foreground: var(--danger-foreground);
  --color-danger-accent: var(--danger-accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-muted-accent: var(--muted-accent);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-accent: var(--secondary-accent);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-primary-accent: var(--primary-accent);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
}
:root {
  --radius: 0.625rem;
  /* Base */
  --background: rgb(9,12,5);
  --foreground: rgb(251, 251, 251);
  /* Card / Popover */
  --card: rgb(36,36,19);
  --card-foreground: rgb(251, 251, 251);
  --popover: rgb(9,12,5);
  --popover-foreground: rgb(251, 251, 251);
  /* Primary */
  --primary: rgb(56, 30, 7);
  --primary-foreground: rgb(216, 196, 176);
  --primary-accent: #ad6024;
  /* Secondary */
  --secondary: rgb(36, 36, 19);
  --secondary-foreground: rgb(251, 251, 251);
  --secondary-accent: rgb(95, 95, 95);
  /* Muted */
  --muted: rgb(95, 95, 95);
  --muted-foreground: rgb(180, 180, 180);
  --muted-accent: rgb(141, 141, 141);
  /* Accent */
  --accent: rgb(95, 95, 95); /* Reuses muted by default */
  --accent-foreground: rgb(180, 180, 180);
  /* Success */
  --success: rgb(49, 209, 108);
  --success-foreground: rgb(241, 252, 244);
  --success-accent: rgb(26, 123, 62);
  /* Danger */
  --danger: rgb(229, 78, 78);
  --danger-foreground: rgb(253, 243, 243);
  --danger-accent: rgb(121, 35, 35);
  /* Borders */
  --border: rgb(70, 70, 70);
  --input: rgb(70, 70, 70);
  --ring: rgb(222, 222, 222);
  /* Charts */
  --chart-1: rgb(177, 120, 76);
  --chart-2: rgb(173, 96, 36);
  --chart-3: rgb(95, 95, 95);
  /* Sidebar */
  --sidebar: rgb(36, 36, 19);
  --sidebar-foreground: rgb(251, 251, 251);
  --sidebar-primary: rgb(36, 36, 19);
  --sidebar-primary-foreground: rgb(251, 251, 251);
  --sidebar-accent: rgb(70, 70, 70);
  --sidebar-accent-foreground: rgb(251, 251, 251);
  --sidebar-border: rgb(70, 70, 70);
  --sidebar-ring: rgb(222, 222, 222);
}
@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
  img {
    @apply inline-block;
  }
}
strong > em,
em > strong,
b > i,
i > b {
  font-style: normal;
  font-weight: normal;
  text-decoration: underline;
}
code {
  color: rgb(214, 214, 214);
  background-color: rgba(9, 9, 11, 0.5);
  border: 1px solid rgb(9, 9, 11);
  border-radius: 0.3rem;
  padding: 0 0.2rem;
  display: inline-block;
  font-weight: 400;
}

.dark {
  --sidebar: hsl(240 5.9% 10%);
  --sidebar-foreground: hsl(240 4.8% 95.9%);
  --sidebar-primary: hsl(224.3 76.3% 48%);
  --sidebar-primary-foreground: hsl(0 0% 100%);
  --sidebar-accent: hsl(240 3.7% 15.9%);
  --sidebar-accent-foreground: hsl(240 4.8% 95.9%);
  --sidebar-border: hsl(240 3.7% 15.9%);
  --sidebar-ring: hsl(217.2 91.2% 59.8%);
}
